In [1]:
# 基本模块的导入
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline
# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame,Series
import time
pd.set_option('display.width', 1000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("darkgrid")
sns.set_context("poster")
from matplotlib.font_manager import FontProperties 
font_zh = FontProperties(fname="/Library/Fonts/华文黑体.ttf", size=14)  #size可不用指定

def format_plot(ax,title,xlabel,ylabel,save_filename = "test.png",dpi = 200):
    for label in ax.get_yticklabels():
        label.set_fontproperties(font_zh) 
    for label in ax.get_xticklabels(): 
        label.set_fontproperties(font_zh) 
    plt.xlabel(xlabel,fontproperties=font_zh)
    plt.ylabel(ylabel,fontproperties=font_zh)
    plt.title(title,fontproperties=font_zh)
    plt.legend(prop=font_zh)
    plt.savefig(save_filename, dpi = dpi)

In [2]:
df = pd.read_excel("TestDemo.xlsx")

In [3]:
df

     month department  time
0   201601         d1     1
1   201601         d2     2
2   201601         d3     3
3   201601         d4     4
4   201602         d1     5
5   201602         d2     6
6   201602         d3     7
7   201602         d4     8
8   201603         d1     9
9   201603         d2    10
10  201603         d3    11
11  201603         d4    12

In [4]:
# df.reindex(index=[df.month,df.department]) # 好奇怪,为什么这一条不行?
df2 = df.set_index(["month","department"])

In [5]:
df2

                   time
month  department
201601 d1             1
       d2             2
       d3             3
       d4             4
201602 d1             5
       d2             6
       d3             7
       d4             8
201603 d1             9
       d2            10
       d3            11
       d4            12

In [6]:
df2.unstack(level=0)

             time
month      201601 201602 201603
department
d1              1      5      9
d2              2      6     10
d3              3      7     11
d4              4      8     12